[build]
  command = "npm run build"
  publish = "build/client"
  ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF -- app public netlify.toml package.json package-lock.json"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200
